:root {
  --background-dark: hsl(222, 11%, 12%);
  --background-regular: hsl(222, 11%, 18%);
  --background-light: hsl(222, 11%, 25%);
  --background-light-hover: hsl(222, 11%, 35%);
  --text-light: hsl(0, 0%, 85%);
  --text-title: hsl(42, 90%, 65%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
}

button {
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: var(--background-light);
}

button:active {
  background-color: var(--background-light-hover);
}

/* SHARED */
.header,
.footer {
  background-color: var(--background-dark);
  text-align: center;
  color: var(--text-light);
}

/* MODAL */
.modal-container {
  z-index: 999;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.6);
  transition: 200ms ease-in-out;
  scale: 0;
  opacity: 0;
}

.modal-containter-active {
  scale: 1;
  opacity: 1;
}

.modal-message-box {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 300px;
  max-width: 596px;

  padding: 1.75rem 3rem;
  border-radius: 0.75rem;
  background-color: var(--background-regular);
  -webkit-box-shadow: 0px 0px 60px 0px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0px 0px 60px 0px rgba(0, 0, 0, 1);
  box-shadow: 0px 0px 60px 0px rgba(0, 0, 0, 1);

  text-align: center;
}

.modal-message {
  font-size: clamp(2rem, 9.5vw, 4rem);
  color: var(--text-light);
  margin-bottom: 1.25rem;
  user-select: none;
}

.modal-restart {
  border-radius: 0.35rem;
  padding: 0.75rem 1rem;
  user-select: none;

  background-color: var(--background-dark);
  color: var(--text-title);
  font-size: clamp(1.25rem, 5vw, 2rem);
}

/* HEADER */
.header-title {
  font-family: "VT323", monospace;
  color: var(--text-title);
  font-size: clamp(2.75rem, 10vw, 5rem);
  margin: 2rem 1rem;
}

/* CONTENT */
.content {
  background-color: var(--background-regular);
  color: var(--text-light);
  text-align: center;

  flex: auto;
}

/* RULES */
.rules {
  margin: 2rem 1rem;
}

.rules-text,
.rules-text-small {
  margin: 1rem 0;
}

.rules-text {
  font-size: clamp(2.15rem, 6vw, 2.5rem);
}

.rules-text-small {
  font-size: clamp(1rem, 2.5vw, 1.15rem);
}

.roundsNum {
  color: var(--text-title);
  font-weight: 900;
  font-size: clamp(1.15rem, 3vw, 1.5rem);
}

/* SCORE */
.scoreboard {
  margin: 2rem auto;
  max-width: 600px;

  display: flex;
  justify-content: center;
  gap: 10%;
}

.score-box {
  flex: 0 1 170px;
}

.score {
  margin-top: 1rem;
  font-weight: 700;
  font-size: clamp(1.15rem, 3vw, 1.5rem);
}

.sign {
  font-size: clamp(4rem, 12vw, 6rem);
}

/* INTERFACE */
.interface {
  display: flex;
  justify-content: center;

  margin: 4rem 1rem 2rem;
}

.card {
  background-color: var(--background-dark);
  border-radius: 0.75rem;
  padding: 2rem;

  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.rotate180 {
  transform: rotate(180deg);
  margin-right: 0;
}

.button-interface {
  background-color: var(--background-regular);
  border-radius: 0.35rem;
  padding: 1rem;
  user-select: none;

  font-size: clamp(2.25rem, 12vw, 6rem);

  flex: 0 1 auto;
}

/* FOOTER */
.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;

  padding: 1rem 1rem;
}
.footer-text {
  font-size: clamp(1rem, 3vw, 1.2rem);
}

.github-link {
  filter: invert(1);

  height: auto;
  width: 1.5rem;

  transition: transform 0.3s ease-in-out;
}

.github-link:hover {
  transform: scale(1.2);
}

/* MEDIA QUERIES */
@media (max-width: 425px) {
  .modal-message-box {
    padding: 1rem 1.5rem;
  }

  .interface {
    margin-top: 3rem;
  }

  .scoreboard {
    padding: 0 1rem;
  }

  .card {
    padding: 1.25rem;
    gap: 1rem;
  }

  .button {
    padding: 0.75rem;
  }
}
